@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo(a) a Biblioteca!</h1>
    <h3>
        <a asp-area="" asp-controller="Livros" asp-action="Index">
            Livros 
        </a>
    </h3>
    <h3>
        <a asp-area="" asp-controller="Autors" asp-action="Index">
            Autores 
        </a>
    </h3>
</div>
